@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

table.calendar {
    border-radius: 20px;
    box-shadow: 0 10px 30px 1px #BDBDBD;
    padding: 10px;
    margin: 30px;
    cursor: default;
    border-collapse: separate;
    border-spacing: 7px;
}

table.calendar td {
    border: 0;
    border-radius: 6px;
    min-width: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

table.calendar td.monthHeader {
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
}

table.calendar td.monthHeader:first-child, table.calendar td.monthHeader:last-child {
    border-radius: 20px;
    cursor: pointer;
}

table.calendar td.monthHeader i {
    width: 40px;
    line-height: 40px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #64B5F6;
    box-shadow: 0 2px 6px #BDBDBD;
    transition: box-shadow .1s;
}

table.calendar td.monthHeader i:active {
    box-shadow: 0 5px 8px #BDBDBD;
}

table.calendar td.weekDayName {
    border-radius: 20px;
    background-color: #1B5E20;
    color: white;
    font-weight: bold;
    line-height: 40px;
    box-shadow: 0 2px 6px #BDBDBD;
}

table.calendar td.weekDayName:nth-child(6) {
    background-color: #F57F17;
}

table.calendar td.weekDayName:last-child {
    background-color: #880E4F;
}

table.calendar td.currentMonth {
    border-radius: 20px;
    background-color: #81C784;
    line-height: 40px;
    box-shadow: 0 2px 6px #BDBDBD;
}

table.calendar td.currentMonth:nth-child(6) {
    background-color: #FFF59D;
}

table.calendar td.currentMonth:last-child {
    background-color: #F48FB1;
}

table.calendar td.today {
    background-color: #B39DDB !important;
}

table.calendar tr:nth-child(1n+3) td.currentMonth:hover {
    background-color: #FF7043 !important;
    cursor: pointer;
    transition: box-shadow 0.1s;
}

table.calendar tr:nth-child(1n+3) td.currentMonth:active {
    box-shadow: 0 5px 8px #BDBDBD;
}
